body,
html {
    background-color: #fafafa;
}

.title-pj {
    justify-content: center;
}

.img-styles {
    height: 350px;
    width: auto;
    border-radius: 0px;
    border-style: none;
}

.img-styles:hover {
    background: #eee;
}

.button-info {
    max-width: 100%;
    width: 100%;
}

.container-button {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card-search {
    max-height: 100%;
    height: 100%;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
}

.card-img {
    max-width: 100%;
    width: 30rem;
}

.form-input {
    max-width: 500px;
    width: 100%;
}

.col-characters {
    max-width: 100%;
    width: 100%;
}

.accordion-characters {
    border-radius: 0px;
    border-style: none;
}

.card-img-angel {
    border: 2px solid;
}

.card-img-angel:hover {
    cursor: pointer;
}

.card-header:hover {
    background: #eee;
}

.row-grid {
    justify-content: center;
}

.card-modal {
    border: 0px;
}

.img-modal {
    border: 0px;
}

.modal-title-angel{
    background-color: orangered;
}

.nombre-title-modal {
    color: #fafafa;
}

.popover-angels {
    background-color: #fafafa;
    width: 200px;
}