body, html {
    background-color: #eee;
}

.title-pj {
    justify-content: center;
}

.img-styles {
    height: 400px;
    width: auto;
}

.button-info {
    max-width: 100%;
    width: 100%;
}

.container-button{
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card-search {
    max-height: 100%;
    height: 100%;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
}

.card-img {
    max-width: 100%;   
    width: 30rem;
}

.form-input {
    max-width: 500px;
    width: 100%;
}

.col-characters {
    max-width: 100%;
    width: 100%;
}
